main{
    height: 1100px;
    width: 100%;
    display: flex;
    justify-content: center;
}


img{
    height: 1100px;
    width: 100%;
    max-height: 100%;
    border-radius: 10px;
    justify-content: center;
    position: fixed;
}

a{
    font-size: 1px;
}
#links{
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns:1fr 1fr;
    margin: 600px auto;
    text-align: center;
    height: 500px;
    max-width: 200px;
    width: 100%;
}
#img-confirma{
    width: 30px;
    height: 30px;
}
#img-endereco{
    width: 30px;
    height: 30px;
    border:none;
}

